{% load django_htmx partials %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>Conway's Game of Life</title>

    <script src="https://cdn.tailwindcss.com"></script>
    {% if DEBUG %}
      <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.js" defer></script>
      <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/debug.js" defer></script>
    {% else %}
      <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js" defer></script>
    {% endif %}
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/sse.js" defer></script>
  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div
      class="h-screen mx-auto flex justify-center items-center"
      hx-ext="sse"
      sse-swap="update"
      sse-connect="{% url "update" %}"
    >
      {% partial grid %}
    </div>

    {% comment %}
    This script block listens for htmx SSE errors and handles them by removing the 'sse-connect' attribute from the
    element that triggered the error.
    This prevents htmx from automatically retrying the SSE connection after an error occurs or when the connection is lost.
    In our case, the connection needs to be closed after the game ends, so we explicitly close the connection here.
    This approach has the downside that it will not trigger a retry if an unexpected error occurs.
    https://htmx.org/extensions/server-sent-events/#automatic-reconnection
    {% endcomment %}
    <script>
      document.addEventListener("htmx:sseError", function(evt) {
        evt.detail.elt.removeAttribute("sse-connect");
        evt.detail.source.close();
      });
    </script>
  </body>
</html>

{% partialdef grid %}
  <div class="grid grid-cols-[repeat({{ grid.rows }},1fr)] border">
    {% for row, col, cell in grid  %}
      {% partial cell %}
    {% endfor %}
  </div>
{% endpartialdef %}

{% partialdef cell %}
  <div
    class="border h-[15px] w-[15px] {% if cell %}bg-black{% endif %}"
    {% if updatable_cells %}
      hx-post="{% url "cell-update" %}"
      hx-swap="outerHTML"
      hx-target="this"
      hx-vals='{"row": {{ row }}, "col": {{ col }}{% if cell %}, "is_alive": "true"{% endif %}}'
    {% endif %}
  ></div>
{% endpartialdef %}
