{% load django_htmx partials %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>Conway's Game of Life</title>

    <script src="https://cdn.tailwindcss.com"></script>

    {% if DEBUG %}
      <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.js" defer></script>
      <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/debug.js" defer></script>
    {% else %}
      <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js" defer></script>
    {% endif %}
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/sse.js" defer></script>
  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div
      class="h-screen mx-auto flex justify-center items-center"
      {% comment %}
      hx-ext="sse"
      sse-connect="{% url 'update' %}"
      {% endcomment %}
      sse-swap="message"
      hx-target="#grid-container"
      hx-swap="outerHTML"
    >
      {% partial grid %}
    </div>
  </body>
</html>


{% partialdef grid %}
  <div id="grid-container" class="grid grid-cols-[repeat({{ grid.rows }},1fr)] border">
    {% for row, col, cell in grid  %}
      {% partial cell %}
    {% endfor %}
  </div>
{% endpartialdef %}

{% partialdef cell %}
  <div
    class="border h-[15px] w-[15px] {% if cell %}bg-black{% endif %}"
    {% if updatable_cells %}
      hx-post="{% url "cell-update" %}"
      hx-swap="outerHTML"
      hx-target="this"
      hx-vals='{"row": {{ row }}, "col": {{ col }}{% if cell %}, "is_alive": "true"{% endif %}}'
    {% endif %}
  ></div>
{% endpartialdef %}
