{% load django_htmx partials %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>Conway's Game of Life</title>

    <script src="https://cdn.tailwindcss.com"></script>
    {% if DEBUG %}
      <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.js" defer></script>
      <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/debug.js" defer></script>
    {% else %}
      <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js" defer></script>
    {% endif %}
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/sse.js" defer></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% partial fresh_control_panel %}

    <div class="h-screen mx-auto flex justify-center items-center">
      {% partial grid %}
    </div>

    <script>
      document.body.addEventListener('htmx:configRequest', function(evt) {
        if (evt.target.id === "start-button") {
          evt.detail.parameters = countAliveCells();
        }
      });

      function countAliveCells() {
        const aliveCells = {};

        findAliveCells().forEach((cellElement) => {
          let row = cellElement.dataset["row"];
          let col = cellElement.dataset["col"];

          if (!aliveCells[row]) {
            aliveCells[row] = [];
          }

          aliveCells[row].push(col);
        });

        return aliveCells;
      }

      function findAliveCells() {
        const gridContainer = htmx.find("#grid-container");
        return htmx.findAll(gridContainer, ".bg-black");
      }

      function stopSse() {
        const sseListener = htmx.find("#sse-listener");
        htmx.remove(sseListener);
      }
    </script>
  </body>
</html>

{% partialdef fresh_control_panel %}
  <div id="control-panel">
    <button id="start-button" hx-get="{% url 'start-game' %}" hx-target="#control-panel" hx-trigger="click once">
      Start
    </button>

    <a id="clear-button" href="{% url 'game' %}" hx-boost="true">Clear</a>

    <div id="sse-listener"></div>
  </div>
{% endpartialdef %}

{% partialdef playing_control_panel %}
  <div id="control-panel">
    <button id="stop-button" _="on click call stopSse() then add @disabled">Stop</button>

    <a id="clear-button" href="{% url 'game' %}" hx-boost="true">Clear</a>

    <div id="sse-listener" hx-ext="sse" sse-connect="{% url "update" %}?{{ alive_cells_as_params }}">
      <div hx-ext="sse" sse-swap="update" hx-target="#grid-container" hx-swap="outerHTML"></div>
      <div hx-ext="sse" sse-swap="end" hx-target="#control-panel" hx-swap="outerHTML"></div>
    </div>
  </div>
{% endpartialdef %}

{% partialdef grid %}
  <div id="grid-container" class="grid grid-cols-[repeat({{ grid.rows }},1fr)] border">
    {% for row, col, cell in grid  %}
      <div
        class="border h-[15px] w-[15px] {% if cell %}bg-black{% endif %}"
        data-row="{{ row }}"
        data-col="{{ col }}"
        {% if updatable_cells %}_="on click toggle .bg-black"{% endif %}
      ></div>
    {% endfor %}
  </div>
{% endpartialdef %}
